body{
    background: url(./peakpx\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bio{
    background-color: chocolate;
    font-size: 20px;
    font-family: cursive;
    font-weight: 800;
    font-style: italic;
}
#para{
    text-decoration: overline;
    text-shadow: 5px 4px 2.5px red;
    text-align: left;
}
#p2{
    text-decoration: underline;
    text-shadow: 5px 4px 3px green;
    text-align: right;
}
.img1{
    width: 200px;
    display: block;
}
.img2{
    width: 25vw;
    object-fit: contain;
    border: 2px black solid;
    box-shadow: 4px 4px 3px greenyellow;
    object-position: center top;
}
.TB{
    box-shadow: 15px 5px 4px darkblue;
    word-spacing: 25px;
    text-wrap: wrap;
    width: 500px;
    background: linear-gradient(red, yellow, green, purple);
}
    
    
